**Exercise 17** (List)

In [8]:
height_of_Ahsoka = 1.7
height_of_Yoda = 0.66
height_of_R2D2 = 1.09
height = [height_of_Ahsoka, height_of_Yoda, height_of_R2D2]
print(type(height))
print(sum(height))

<class 'list'>
3.45

**Exercise 18** (Shopping list)

In [19]:
shopping_list = ["Milk","Bread","Banana","Suger"]

def instraction1():
  shopping_list.append("Apples")
  #print(shopping_list)

def instraction2():
   shopping_list.remove("Bread")
   #print(shopping_list)

def show_list():
  print("Your shopping list: "+str(shopping_list))

def total_item():
  print("Total items: "+str(len(shopping_list)))

instraction1()
instraction2()
show_list()
total_item()

Your shopping list: ['Milk', 'Banana', 'Suger', 'Apples']
Total items: 4

**Exercise 19** (The IF, ELSE Statement
Completion requirements
)

In [20]:
answer = input("Is Rose holding a lightsaber? ")

if answer=="Yes":
  print("Yes")
else:
  print("No")

Is Rose holding a lightsaber? Yes
Yes

**Exercise 20**  (Using A Nested IF Statement)

In [25]:
ans = input("Is the character is holding a lightsaber? ")

if ans == "Yes":
  print("The character is a jedi")
  color = input("Is the lightsaber is green? ")
  if color == "Yes":
    print("The character is Yoda")
else:
  print("The character is not a jedi")

Is the character is holding a lightsaber? Yes
The character is a jedi
Is the lightsaber is green? Yes
The character is Yoda

**Exercise 21** (Using ELIF in an IF Statement and the OR & AND Logic)

In [30]:
team = input("Select team 1 , 2 or 3: ")

if team == "1":
  print("You picked team 1,which has 1 character, which is Yoda")
elif team == "2":
  print("You picked team 2, which has 2 characters, Jack & Rose")
else:
  print("You picked team 3, which has 2 characters, Vader & Leah")

if team == "1" and "3":
  print("The number of people on the team is odd.")
else:
  print("The number of people on the team is even.")

Select team 1 , 2 or 3: 2
You picked team 2, which has 2 characters, Jack & Rose
The number of people on the team is even.

In [31]:
import platform
print(platform.python_version())

3.11.11

**Exercise 22** (Using the MATCH and CASE Logic Completion requirements
)

In [44]:
team = input("Select team 1 , 2 or 3: ")

if team == "1":
  print("You picked team 1,which has 1 character, which is Yoda")
elif team == "2":
  print("You picked team 2, which has 2 characters, Jack & Rose")
else:
  print("You picked team 3, which has 2 characters, Vader & Leah")

if team == "1" and "3":
  print("The number of people on the team is odd.")
else:
  print("The number of people on the team is even.")
Decision = input("Good or not good: ")
team = int(team)
match Decision:
  case "good":
    match team:
      case 1:
        print("good 1")
      case 2:
        print("good 2")
      case 3:
        print("good 3")

  case "not good":
    match team:
     case 1:
       print("Not good 1")
     case 2:
       print("Not good 2")
     case 3:
       print("Not good 3")

Select team 1 , 2 or 3: 3
You picked team 3, which has 2 characters, Vader & Leah
The number of people on the team is even.
Good or not good: not good
Not good 3

**Exercise 23** (Using the MATCH and CASE Logic)

In [49]:
Decision = int(input("Select team: "))
#Decision = int(Decision)
match Decision:
      case 1:
        print("You select team 1")
      case 2:
        print("You select team 2")
      case 3:
        print("You select team 3")

Select team: 3
You select team 3

**exercise 24** (Formatting)

In [52]:
Firstclass_ticket = int(input("How many tickets do you want to purchase in 1st class: "))
Secondclass_ticket = int(input("How many tickets do you want to purchase in 2nd class: "))
Third1class_ticket = int(input("How many tickets do you want to purchase in 3rd class: "))
total = (870*Firstclass_ticket)+(100.42*Secondclass_ticket)+(7*Third1class_ticket)
print(f"The total price is {total:.2f} pounds")

How many tickets do you want to purchase in 1st class: 1
How many tickets do you want to purchase in 2nd class: 1
How many tickets do you want to purchase in 3rd class: 1
The total price is 977.42 pounds

**Exercise 25** (Slicing)

In [55]:
name = "Titanic"
print(name[6])
print(name[6:])
print(name[-1])

c
c
c

**Exercise 26** (For Loop)

In [65]:
arr = ["Leia","Luka"]
for i in arr:
  print(i+" I am your father.")

Leia I am your father.
Luka I am your father.

**Exercise 27** (While Loop)

In [70]:
year = 1912
while year<=1984:
  print("The year is "+str(year)+" and nobody has found the Titanic yet.")
  year = year + 1

The year is 1912 and nobody has found the Titanic yet.
The year is 1913 and nobody has found the Titanic yet.
The year is 1914 and nobody has found the Titanic yet.
The year is 1915 and nobody has found the Titanic yet.
The year is 1916 and nobody has found the Titanic yet.
The year is 1917 and nobody has found the Titanic yet.
The year is 1918 and nobody has found the Titanic yet.
The year is 1919 and nobody has found the Titanic yet.
The year is 1920 and nobody has found the Titanic yet.
The year is 1921 and nobody has found the Titanic yet.
The year is 1922 and nobody has found the Titanic yet.
The year is 1923 and nobody has found the Titanic yet.
The year is 1924 and nobody has found the Titanic yet.
The year is 1925 and nobody has found the Titanic yet.
The year is 1926 and nobody has found the Titanic yet.
The year is 1927 and nobody has found the Titanic yet.
The year is 1928 and nobody has found the Titanic yet.
The year is 1929 and nobody has found the Titanic yet.
The year is 1930 and nobody has found the Titanic yet.
The year is 1931 and nobody has found the Titanic yet.
The year is 1932 and nobody has found the Titanic yet.
The year is 1933 and nobody has found the Titanic yet.
The year is 1934 and nobody has found the Titanic yet.
The year is 1935 and nobody has found the Titanic yet.
The year is 1936 and nobody has found the Titanic yet.
The year is 1937 and nobody has found the Titanic yet.
The year is 1938 and nobody has found the Titanic yet.
The year is 1939 and nobody has found the Titanic yet.
The year is 1940 and nobody has found the Titanic yet.
The year is 1941 and nobody has found the Titanic yet.
The year is 1942 and nobody has found the Titanic yet.
The year is 1943 and nobody has found the Titanic yet.
The year is 1944 and nobody has found the Titanic yet.
The year is 1945 and nobody has found the Titanic yet.
The year is 1946 and nobody has found the Titanic yet.
The year is 1947 and nobody has found the Titanic yet.
The year is 1948 and nobody has found the Titanic yet.
The year is 1949 and nobody has found the Titanic yet.
The year is 1950 and nobody has found the Titanic yet.
The year is 1951 and nobody has found the Titanic yet.
The year is 1952 and nobody has found the Titanic yet.
The year is 1953 and nobody has found the Titanic yet.
The year is 1954 and nobody has found the Titanic yet.
The year is 1955 and nobody has found the Titanic yet.
The year is 1956 and nobody has found the Titanic yet.
The year is 1957 and nobody has found the Titanic yet.
The year is 1958 and nobody has found the Titanic yet.
The year is 1959 and nobody has found the Titanic yet.
The year is 1960 and nobody has found the Titanic yet.
The year is 1961 and nobody has found the Titanic yet.
The year is 1962 and nobody has found the Titanic yet.
The year is 1963 and nobody has found the Titanic yet.
The year is 1964 and nobody has found the Titanic yet.
The year is 1965 and nobody has found the Titanic yet.
The year is 1966 and nobody has found the Titanic yet.
The year is 1967 and nobody has found the Titanic yet.
The year is 1968 and nobody has found the Titanic yet.
The year is 1969 and nobody has found the Titanic yet.
The year is 1970 and nobody has found the Titanic yet.
The year is 1971 and nobody has found the Titanic yet.
The year is 1972 and nobody has found the Titanic yet.
The year is 1973 and nobody has found the Titanic yet.
The year is 1974 and nobody has found the Titanic yet.
The year is 1975 and nobody has found the Titanic yet.
The year is 1976 and nobody has found the Titanic yet.
The year is 1977 and nobody has found the Titanic yet.
The year is 1978 and nobody has found the Titanic yet.
The year is 1979 and nobody has found the Titanic yet.
The year is 1980 and nobody has found the Titanic yet.
The year is 1981 and nobody has found the Titanic yet.
The year is 1982 and nobody has found the Titanic yet.
The year is 1983 and nobody has found the Titanic yet.
The year is 1984 and nobody has found the Titanic yet.