**Exercise 8**

In [ ]:
Ahsoka_height= float(1.70)
Yoda_height=float(0.66)
R2D2_height=float(1.09)
print("The average height is ", float(Ahsoka_height+Yoda_height+R2D2_height)/3)
print("The maximum height is ", float(max(Ahsoka_height,Yoda_height,R2D2_height)))
print("The minimum height is ", float(min(Ahsoka_height,Yoda_height,R2D2_height)))

The average height is  1.1500000000000001
The maximum height is  1.7
The minimum height is  0.66

**Exercise 9**

In [ ]:
name= input("What is your name? ")
age= input("How old are you? ")
print("Your name is "+name+".Your age is "+age+".")

What is your name? Hafsa
How old are you? 23
Your name is Hafsa.Your age is 23.

**Exercise 9**

In [ ]:
def age_of_rey():
  age = input("How old are you? ")
  print("Rey you are "+age+" years old")
age_of_rey()

How old are you? 23
Rey you are 23 years old

**Exercise 10**

In [ ]:
name=input("who was on the Titanic? ")
year= input("What year is it currently? ")
year_calculation=int(year)-1912
print(name+" were on the Titanic,which sunk "+str(year_calculation)+" years ago")

who was on the Titanic? Jack and Rose
What year is it currently? 2025
Jack and Rose were on the Titanic,which sunk 113 years ago