**Exercise 11** Creating Basic Custom Functions Part 2

In [3]:
name = input("Who was on the Titanic? ")
year = input("What year is it? ")

def print_function(name,year):
  year_calculation = int(year)-1912
  print(name+" were on the Titanic,which sunk "+str(year_calculation)+" years ago")
print_function(name,year)

Who was on the Titanic? Jack and Rose
What year is it? 2025
Jack and Rose were on the Titanic,which sunk 113 years ago

**Exercise 12**  Creating Advanced Functions (Keyword and Default Values)

In [6]:
def my_age(age=19):
  print("My age is " +str(age))

my_age(39)
my_age()

My age is 39
My age is 19

**Exercise 13**  Returning Values from Custom Functions (fahrenheit_to_celsius)

In [8]:
def fahrenheit_to_celsius(val):
  result = (val-32)/1.8
  return result

fahrenheit_to_celsius(80)

26.666666666666664

**Exercise 14** (celsius_to_fahrenheit)

In [10]:
def celcious_to_fahrenheit(val):
  result = (val*1.8)+32
  return result

celcious_to_fahrenheit(26.67)

80.006

**Exercise 15** simple calculator

In [14]:
num1 = input("Enter the first number: ")
num2 = input("Enter the second number: ")
op = input("Enter a operator(+,-,*,/): ")

if op == "+":
  add = int(num1)+int(num2)
  print("Addition of the given number"+str(add))
elif op == "-":
  sub = int(num1)-int(num2)
  print("Subtraction of the given number"+str(sub))
elif op == "*":
  mult = int(num1)*int(num2)
  print("Multiplication of the given number"+str(mult))
elif op == "/":
  div = int(num1)/int(num2)
  print("Division of the given number"+str(div))

Enter the first number: 33
Enter the second number: 3
Enter a operator(+,-,*,/): /
Division of the given number11.0

**Exercise 16** Using function  (simple calculator)

In [22]:
def add(num1,num2):
  return num1+num2

def sub(num1,num2):
  return num1-num2

def mult(num1,num2):
  return num1*num2

def div(num1,num2):
  return num1/num2

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
op = input("Enter a operator(+,-,*,/): ")

if op == "+":
  print("Addition of the given number",add(num1,num2))

elif op == "-":
  print("Subtraction of the given number",sub(num1,num2))

elif op == "*":
  print("Multiplication of the given number",mult(num1,num2))

elif op == "/":
  print("Division of the given number",div(num1,num2))

Enter the first number: 4
Enter the second number: 2
Enter a operator(+,-,*,/): /
Division of the given number 2.0