**Exercise 32**  Methods

In [ ]:
name = str("C3P0")
print(name.replace("C3P0","R2D2"))

R2D2

**Exercise 33** String Methods

In [ ]:
jacks_name = "Jack"
emplty_glass_case = " "
print(jacks_name.isalpha())
print(emplty_glass_case.isspace())

True
True

**Exercise 34** Advanced String Operations

In [ ]:
name1 = "Princess Leia"
print(name1.split())
name2 = "Baby Yoda"
x = name2.lstrip("Baby ")
print(x)
name3 = "Baby Yoda"
y = name3.replace("Baby","Master")
print(y)

['Princess', 'Leia']
Yoda
Master Yoda

**Exercise 34** Recurssioon

In [13]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n*factorial(n-1)

factorial(5)

120

**Exercise 35** Creating Your First Class and Instance

In [20]:
class persons_info:
  def __init__(self,name,age):
    print("My name is ",name," and my age is ",age)
  def burk():
    print("Burk Burk")

person = persons_info("Rohim","23")
persons_info.burk()

My name is  Rohim  and my age is  23
Burk Burk

**Exercise 36** Classes, Instances and Attributes

In [24]:
class car:
  wheels = 4
  def __init__(self, maker, model):
    self.maker = maker
    self.model = model

car1 = car("Toyota","Corolla")
print("Name of the car ",car1.maker," and wheels of the car",car1.wheels)

Name of the car  Toyota  and wheels of the car 4

**Exercise 37** Inheritance

In [28]:
class vehicle():
   extra_tire= 4

class truk(vehicle):
  print(vehicle.extra_tire)

#truk()

4

**Exercise 38** Encapsulation

In [36]:
class Account():
  def __init__(self,amount):
    self.__amount = amount
  def deposit(self,taka):
    self.__amount += taka
  def get_balance(self):
    return self.__amount

acc = Account(10000)
acc.deposit(100)
print(acc.get_balance())

10100

In [41]:
class computer():
  def __init__(self, brand,model):
    self.__brand = brand
    self.__model = model
  def get_info(self):
    return self.__brand + "," + self.__model

computer = computer("Apple","Macbook")
computer.get_info()

'Apple,Macbook'