**Exercise 5**

In [1]:
Ahsoka_height= float(1.70)
Yoda_height=float(0.66)
R2D2_height=float(1.09)
C3P0_height=float(1.75)
print((Ahsoka_height+Yoda_height+R2D2_height+C3P0_height)/4)

1.3

**Exercise 6**

In [17]:
name1= "Jack"
name2= "Rose"
year=int(1912)
#print(type(name1))
#print(type(name2))
print(name1+" and "+name2+" were on the Titanic in "+str(year))

Jack and Rose were on the Titanic in 1912

**Exercise 7**

In [18]:
principle = 1000
rate = 5
time = 2
interest = (principle*rate*time)/100
print(interest)

100.0