In [14]:
from os import EX_TEMPFAIL
# Inheritance
class Student:
  def __init__(self,name,id,number):
    self.name = name
    self.id = id
    self.number = number

  def print(self):
    print(f"Name of the student : {self.name}\nId : {self.id}\nNumber : {self.number}")

class personal_info(Student):

  def info(self,email):
    self.email = email
    print(f"Name of the student : {self.name}\nId : {self.id}\nEmail : {self.email}")


#student = Student("Romi",12,1234)
#student.print()
x = personal_info("Romi",12,1234)
x.info("abc@gmail.com")

Name of the student : Romi
Id : 12
Email : abc@gmail.com

In [1]:
import numpy as np
monthly_sales = np.array([200, 220, 250, 275, 300, 320,
                          350, 370, 400, 420, 450, 475])

In [5]:
print(f"January {monthly_sales[0]}")
print(f"December {monthly_sales[11]}")

January 200
December 475

In [9]:
q1 = monthly_sales[:3]
print(q1)
q2 = monthly_sales[3:6]
print(q2)
q3 = monthly_sales[6:9]
print(q3)
q4 = monthly_sales[9:]
print(q4)

[200 220 250]
[275 300 320]
[350 370 400]
[420 450 475]

In [11]:
monthly_sales[3] = 280
print(monthly_sales[3])

280

In [16]:
x = monthly_sales[5:8]
print(x)
np.mean(monthly_sales[5:8])

[320 350 370]

346.6666666666667